﻿@{
    ViewBag.Title = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Check").click(function () {

            var Number = parseInt($("#Number").val());
            if (Number > 0) {
            $.ajax({
                type: "Post",
                url: '@Url.Action("Squarefree", "Home")?n=' + Number,
                contentType: "application/json; charset=utf-8",
                dataType: "Json",
                success: function (count) {
                    $("#SqureFree").val(count)
                },
                error: function (data) {
                    alert("error");
                }
            });
            }
        });
    });
</script>


<div class="row">
    <div class="col-md-4">
        <div class="pull-right">
            <div class="col-lg-4">
                <label for="exampleInputEmail1" class="erplabel">Enter No</label> 
                <input class="form-control" id="Number" type="number"/>
            </div>
            <div class="col-lg-2" style="margin: 18px 0 0 0;">
                <button id="Check" class="btn btn-info btn-sm">Check</button>
            </div>
            <div class="col-lg-4">
                <label for="exampleInputEmail1" class="erplabel">Squre Free Count</label>
                <input class="form-control" id="SqureFree" type="number" />
            </div>
        </div>
        
    </div>
</div>